# OSX
#
/Client/.DS_Store

# Xcode
#
Client/build/
Client/*.pbxuser
!/Client/default.pbxuser
/Client/*.mode1v3
!/Client/default.mode1v3
/Client/*.mode2v3
!/Client/default.mode2v3
/Client/*.perspectivev3
!/Client/default.perspectivev3
/Client/xcuserdata
/Client/*.xccheckout
/Client/*.moved-aside
/Client/DerivedData
/Client/*.hmap
/Client/*.ipa
/Client/*.xcuserstate

# Android
/Client/android/
# Android/IntelliJ
#
/Client/build/
/Client/.idea
/Client/.gradle
/Client/local.properties
/Client/*.iml

# Ios
/Client/ios/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/Client//ios/Pods/

#
!/Client/node_modules/react-native-counters
!/Client/node_modules/react-native-select-two
